rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {


    /* ================================================
       USUARIO
    ================================================ */

    match /users/{uid} {

      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == uid;


      /* ================================================
         MOVIMIENTOS PRIVADOS
      ================================================ */

      match /privateMovements/{movementId} {

        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == uid;

      }


      /* ================================================
         CUENTAS PRIVADAS
      ================================================ */

      match /accounts/{accountId} {

        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == uid;

      }

    }


    /* ================================================
       HOGAR
    ================================================ */

    match /homes/{homeId} {


      /* ================================================
         MIEMBROS
      ================================================ */

      match /members/{uid} {

        allow read:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );


        allow create:
          if request.auth != null
          && request.auth.uid == uid;


        allow update, delete:
          if request.auth != null
          && request.auth.uid == uid;

      }


      /* ================================================
         DOCUMENTO DEL HOGAR
      ================================================ */

      allow read:
        if request.auth != null
        && exists(
          /databases/$(database)
          /documents/homes/$(homeId)
          /members/$(request.auth.uid)
        );


      allow create:
        if request.auth != null;


      allow update:
        if request.auth != null
        && exists(
          /databases/$(database)
          /documents/homes/$(homeId)
          /members/$(request.auth.uid)
        );


      /* ================================================
         MOVIMIENTOS COMUNES
      ================================================ */

      match /movements/{movementId} {

        allow read, create, update, delete:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );

      }


      /* ================================================
         OBJETIVOS
      ================================================ */

      match /goals/{goalId} {

        allow read, create, update, delete:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );

      }


      /* ================================================
         RECURRENTES
      ================================================ */

      match /recurring/{recurringId} {

        allow read, create, update, delete:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );

      }


      /* ================================================
         INVITACIONES
      ================================================ */

      match /invitations/{invitationId} {

        allow read, create, update:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );

        allow delete:
          if request.auth != null
          && exists(
            /databases/$(database)
            /documents/homes/$(homeId)
            /members/$(request.auth.uid)
          );

      }

    }

  }

}
